body {
  background:linear-gradient(0deg,rgba(39, 153, 191, 0.1),rgba(39, 153, 191,0.3)),url(./img/bg.jpg);
  background-size:cover;
  background-position: center;
}

.App-header {
  background-color: rgba(255, 255, 255, 0);
  padding: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.App-logo {
  display: inline-block;
  width: 100%;
  height: auto;
}

.container {
  max-width: 500px;
}

.container .jumbotron {
  background-color: rgba(36, 118, 148, 0.05);
  border: 3px solid rgba(15, 110, 151, 0.20);
  margin-top: 8rem;
  align-self: auto;
}

.container .jumbotron {
  max-width: 500px;
  text-align: center;
}

#buyImg, #sellImg {
  width: 20%;
}


hr {
  width: 60px;
}


#pagetext {
  margin-top: 7rem;
  background-color: #153544;
  color: white;
}

#learn {
    position: relative;
    display: block;
    padding: 0;
    color: #153544;
    margin: 0 auto;
    background: rgba(254, 254, 254, 0.79);
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 20%;
    border: 2px solid #838383;
    border-width: 3px 3px 3px 3px;
    margin-bottom: 10px;
}

#learn:hover
{
    transition: 0.3s;
    background: rgba(185, 210, 221, 0.44);
}

#sell h1 {
    text-align: center;
}

#buysellimg {
  background-color: white;
}